<!--begin::Form-->
<form *ngIf="userPassword.id" [formGroup]="changePasswordForm" class="mt-16">

    <div *ngIf="hasFormErrors">
        <!-- Oh snap! Password not match.<br/> -->
        <ul><li *ngFor="let err of errors">{{err}}</li></ul>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start">
        <div  fxLayout="row" fxLayoutAlign="start start" fxFlexFill>
            <div  fxFlex="50">
                <mat-form-field class="w-100-p" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" id="newPassword" autocomplete="off" placeholder="Enter New Password" formControlName="newPassword" />
                    <mat-error>New Password is
                        <strong>required</strong>
                    </mat-error>
                    <mat-hint align="start">Please enter
                        <strong>New Password</strong>
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div  fxLayout="row" fxLayoutAlign="start start" fxFlexFill class="mt-12">
            <div  fxFlex="50">
                <mat-form-field  class="w-100-p" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" id="confirmPassword" autocomplete="off" placeholder="Confirm password" formControlName="confirmPassword" />
                    <mat-error>Confirm Password is
                        <strong>required</strong>
                    </mat-error>
                    <mat-hint align="start">Please conirm
                        <strong>Password</strong>
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="border-bottom my-12"></div>
    <div class="">
        <button type="button" [disabled]="changePasswordForm.invalid" mat-raised-button color="accent" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="Save changes">
            Change password
        </button>
    </div>
</form>
<!--end::Form-->
